/* ThemeREX Addons
------------------------------------------------------------------------------------ */

.sc_content_width_1_1 {	width: 1170px; }
.sc_content_width_1_2 {	width: 585px; }
.sc_content_width_1_3 {	width: 390px; }
.sc_content_width_2_3 {	width: 780px; }
.sc_content_width_1_4 {	width: 292.5px; }
.sc_content_width_3_4 {	width: 877.5px; }

/* Grid */
.trx_addons_container, .trx_addons_container-fluid {
	padding-left:  15px;
	padding-right: 15px;
}
.trx_addons_columns_wrap {
	margin-right: -30px;
}
.trx_addons_columns_wrap > [class*="trx_addons_column-"] {
	padding-right: 30px;
}
.trx_addons_columns_wrap.columns_padding_left {
	margin-left: -30px;
}
.trx_addons_columns_wrap.columns_padding_left > [class*="trx_addons_column-"],
.trx_addons_columns_wrap > [class*="trx_addons_column-"].columns_padding_left {
	padding-left: 30px;
}
.trx_addons_columns_wrap.columns_padding_right {
	margin-right: -30px;
}
.trx_addons_columns_wrap.columns_padding_right > [class*="trx_addons_column-"],
.trx_addons_columns_wrap > [class*="trx_addons_column-"].columns_padding_right {
	padding-right:30px;
}
.trx_addons_columns_wrap.columns_padding_center {
	margin-left: -15px;
	margin-right: -15px;
}
.trx_addons_columns_wrap.columns_padding_center > [class*="trx_addons_column-"],
.trx_addons_columns_wrap > [class*="trx_addons_column-"].columns_padding_center {
	padding-left:30px;
}
.trx_addons_columns_wrap.columns_padding_bottom > [class*="trx_addons_column-"],
.trx_addons_columns_wrap > [class*="trx_addons_column-"].columns_padding_bottom {
	padding-bottom: 30px;
}

.sidebar .trx_addons_columns_wrap {
	margin-right: 0;
}
.sidebar .trx_addons_columns_wrap [class*="trx_addons_column-"] {
	display:block;
	width: 100%;
	padding: 0;
}

.trx_addons_scroll_to_top {
	border: none;
}
/*
body.page.home .trx_addons_scroll_to_top {
	display:none !important;
}
*/
.menu_style_right .trx_addons_scroll_to_top {
	right: 1em;
}


/* Layouts
---------------------------------------------- */
.menu_style_left .sc_layouts_row_fixed_on {
	padding-left: 6rem;
}
.menu_style_right .sc_layouts_row_fixed_on {
	padding-right: 6rem;
}
.header_position_under .top_panel .wpb_row {
	background-color: transparent !important;
}

.top_panel.with_bg_image .sc_layouts_row {
	background-color:transparent;
}

.remove_margins .sc_layouts_title,
.top_panel.with_bg_image .sc_layouts_title {
}


/* Search field inside content */
.content .search_wrap {
	max-width:50%;
	margin:0;
}
.post_item_none_search .search_wrap,
.post_item_none_archive .search_wrap {
	max-width:none;
}
.content .search_wrap .search_form_wrap {
	width: 100%;
}
.content .search_wrap .search_form_wrap .search_field {
	width:100%;
}
.content .search_wrap .search_submit {
	background-color:transparent;
}
.post_item_none_search .search_wrap .search_field,
.post_item_none_archive .search_wrap .search_field {
    padding: 1.2em 4em 1em 1.7em;
}
.post_item_none_search .search_wrap .search_submit,
.post_item_none_archive .search_wrap .search_submit {
	left: auto;
	right: 0;
	top: 0;
	padding: 0 1em;
}
.content .search_wrap .search_results {
	width:100%;
}


/* Headers layouts
---------------------------------------------- */
.sc_layouts_item_details_line1 {
	font-weight:300;
}
.sc_layouts_item_details_line2 {
	font-weight:600;
}
.sc_layouts_row_type_narrow .sc_layouts_item {
	font-size: 0.8667em;
	line-height:1.4615em;
	letter-spacing:0;
}
.sc_layouts_row_type_compact .sc_layouts_item,
.sc_layouts_row_type_normal .sc_layouts_item {
	letter-spacing:0;
}

.sc_layouts_menu_nav li[class*="columns-"] li.menu-item-has-children > a {
	font-weight:600;
	font-size: 1.0769em;
}


/* Slider
---------------------------------------------- */

/* Pagination */
.slider_swiper .swiper-pagination-bullet,
.slider_swiper_outer .swiper-pagination-bullet {
	border: 2px solid #f0f0f0;
	background-color: transparent;
	width: 6px;
	height: 6px;
}
.sidebar .slider_pagination_pos_bottom > .swiper-pagination,
.sidebar .slider_outer_pagination_pos_bottom > .swiper-pagination {
	bottom: 0.5em;
}
.sidebar .slider_swiper .swiper-pagination-bullet,
.sidebar .slider_swiper_outer .swiper-pagination-bullet {
	width: 8px;
	height: 8px;
}

/* Controls */
.sidebar .slider_swiper_outer .slider_controls_wrap,
.sidebar .slider_swiper.slider_controls_side .slider_controls_wrap {
	display:none;
}
.sc_slider_controls .slider_controls_wrap > a,
.slider_swiper.slider_controls_side .slider_controls_wrap > a,
.slider_outer_controls_side .slider_controls_wrap > a,
.slider_outer_controls_top .slider_controls_wrap > a,
.slider_outer_controls_bottom .slider_controls_wrap > a {
	width: 4.2em;
	height: 2.8em;
	line-height: 2.8em;
}
.slider_swiper.slider_controls_side .slider_controls_wrap > .slider_prev,
.slider_outer_controls_side .slider_controls_wrap > .slider_prev {
	opacity: 0;
	margin-left: -100px;
	left: 0;
}
.slider_swiper.slider_controls_side .slider_next,
.slider_outer_controls_side .slider_controls_wrap > .slider_next {
	opacity: 0;
	margin-right:-100px;
	right: 0;
}
.slider_swiper.slider_controls_side:hover .slider_controls_wrap > a,
.slider_outer_controls_side:hover + .slider_controls_wrap > a {
	opacity: 1;
	margin-left:0;
	margin-right:0;
}

.sc_slider_controls .slider_controls_wrap > a:before,
.slider_swiper.slider_controls_side .slider_controls_wrap > a:before,
.slider_outer_controls_side .slider_controls_wrap > a:before,
.slider_outer_controls_top .slider_controls_wrap > a:before,
.slider_outer_controls_bottom .slider_controls_wrap > a:before {
	font-family:'fontello';
	font-size:1.6em;
    transition: none;
}
.sc_slider_controls .slider_controls_wrap > .slider_prev:before,
.slider_swiper.slider_controls_side .slider_controls_wrap > .slider_prev:before,
.slider_outer_controls_side .slider_controls_wrap > .slider_prev:before,
.slider_outer_controls_top .slider_controls_wrap > .slider_prev:before,
.slider_outer_controls_bottom .slider_controls_wrap > .slider_prev:before {
	content: '\e939';
}
.sc_slider_controls .slider_controls_wrap > .slider_next:before,
.slider_swiper.slider_controls_side .slider_controls_wrap > .slider_next:before,
.slider_outer_controls_side .slider_controls_wrap > .slider_next:before,
.slider_outer_controls_top .slider_controls_wrap > .slider_next:before,
.slider_outer_controls_bottom .slider_controls_wrap > .slider_next:before {
	content: '\e93a';
}

.slider_style_modern .slider_controls_label span:first-child {
	font-style: italic;
	letter-spacing: 0;
}
.sc_slider_controller .slider_swiper_outer.slider_outer_controls_side .slider_controls_wrap > a,
.slider_style_modern .slider_swiper.slider_controls_side .slider_controls_wrap > a,
.slider_style_modern.slider_outer_controls_side .slider_controls_wrap > a {
	opacity: 1;
}


.header_widgets_wrap .slider_swiper .slide_overlay.slide_overlay_large {
	background-color: transparent;
}
.slider_swiper.slider_titles_center .slide_info.slide_info_large {
	padding:3em 2em;
	width: 50%;
}
.header_widgets_wrap .slider_swiper.slider_titles_center:not(.slider_multi) .slide_info.slide_info_large {
	width: 18em;
}

.sidebar .slider_swiper.slider_multi .slide_info:not(.slide_info_large),
.sidebar .slider_swiper .slide_info:not(.slide_info_large) {
	bottom: 8px;
}

.slider_swiper .slide_info {
	line-height:1.3em;
}

.slider_swiper .slide_info.slide_info_large .slide_cats {
	color: transparent !important;
}
.slider_swiper .slide_info.slide_info_large .slide_cats a {
	font-size: 0.8667em;
	line-height:1.7333em;
	font-weight: 500;
	text-transform:uppercase;
}
.slider_swiper .slide_info.slide_info_large .slide_title {
	font-size: 1.4em;
	font-weight:400;
	line-height:1.5em;
	text-transform:uppercase;
	letter-spacing:2px;
	margin: 0.5em 0;
}
.slider_swiper .slide_info.slide_info_large .slide_date {
	font-size:0.9333em;
	font-style:italic;
}
.sidebar .slider_swiper.slider_multi .slide_title,
.sidebar .slider_swiper .slide_info:not(.slide_info_large) .slide_title {
	font-size: 1em;
}
.sidebar .slider_swiper.slider_multi .slide_date,
.sidebar .slider_swiper .slide_info:not(.slide_info_large) .slide_date {
	font-size: 12px;
	line-height:16px;
}

.slider_titles_outside_wrap .slide_cats,
.slider_titles_outside_wrap .slide_subtitle {
	font-style: italic;
	letter-spacing:0;
}

.sc_slider_controller_info {
	font-size: 1.3333em;
	line-height:1.2em;
	font-weight:normal;
	font-style:normal;
	letter-spacing:0;
	width: 85%;
}
.sc_slider_controller_titles .sc_slider_controller_info {
	text-transform: uppercase;
}
.sc_slider_controller_thumbs .sc_slider_controller_info {
	font-size: 1.2em;
	line-height:1.2em;
	display:none;
}
.sc_slider_controller_thumbs .sc_slider_controller_info_number {
	color: #ccc;
}
.sc_slider_controller_thumbs .sc_slider_controller_info_title {
	color: #fff;
}



/* Widgets
---------------------------------------------- */
.footer_wrap .sc_layouts_row {
	line-height: 1.7857em;
}

.footer_wrap .sc_layouts_item {
	margin-top: 0;
	margin-bottom: 0;
}

.widget.widget_bg_image {
	padding: 2em 1.5em !important;	/* to override .columns_wrap > .column rules */
}
.widget.widget_bg_image * {
	color: #aaa !important;
}
.widget.widget_bg_image .widget_title,
.widget.widget_bg_image .widget_content a {
	color: #ddd !important;
}
.widget.widget_bg_image .widget_title,
.widget.widget_bg_image .widget_content a:hover {
	color: #fff !important;
}

/* About Me */
.widget_aboutme .aboutme_avatar img {
	width:100%;
	height: auto;
}
.widget_aboutme .aboutme_username {
	text-align:left;
	font-size:1em;
}
.widget_aboutme .aboutme_description {
	margin-top: 1em;
	text-align:left;
	line-height: 1.6em;
}

/* Most Popular */
.widget .trx_addons_tabs .trx_addons_tabs_titles li {
	font-size: 12px;
	font-weight:400;
	font-style:normal;
	line-height: 1.3em;
	text-transform:uppercase;
	letter-spacing:0;
}
.widget .trx_addons_tabs .trx_addons_tabs_titles li:after {
	display:none !important;
}
.widget .trx_addons_tabs .trx_addons_tabs_titles li + li {
	margin-left:0.5em;
}
.widget .trx_addons_tabs .trx_addons_tabs_titles li a {
	padding: 0.3em 0.5em;
}

/* Categories list */
.widget_categories_list[class*="column-"] [class*="column-"],
.sidebar .widget_categories_list [class*="column-"] {
	width:100%;
	float:none;
	overflow:hidden;
}
.widget_categories_list[class*="column-"] [class*="column-"]+[class*="column-"],
.sidebar .widget_categories_list [class*="column-"]+[class*="column-"] {
	margin-top:0.5em;
}
.widget_categories_list[class*="column-"] .categories_list_style_1 .categories_list_item,
.sidebar .widget_categories_list .categories_list_style_1 .categories_list_item {
	text-align:left;
}
.widget_categories_list[class*="column-"] .categories_list_style_1 .categories_list_image {
	display:inline-block;
	width: 20%;
}
.sidebar .widget_categories_list .categories_list_style_1 .categories_list_image {
	display:inline-block;
	width: 32px;
	vertical-align:middle;
}
.widget_categories_list[class*="column-"] .categories_list_style_1 .categories_list_image img,
.sidebar .widget_categories_list .categories_list_style_1 .categories_list_image img {
	width: 100%;
	height: auto;
}
.widget_categories_list[class*="column-"] .categories_list_style_1 .categories_list_title,
.sidebar .widget_categories_list .categories_list_style_1 .categories_list_title {
	display:inline-block;
	vertical-align:middle;
	width: 70%;
	margin: 0;
	font-size:1em;
	text-align:left;
	text-transform:none;
	-webkit-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	        box-sizing: border-box;
}
.widget_categories_list[class*="column-"] .categories_list_style_1 .categories_list_image + .categories_list_title,
.sidebar .widget_categories_list .categories_list_style_1 .categories_list_image + .categories_list_title {
	padding-left: 1em;
}


/* Recent News + Shortcode Recent News */
body.expand_content .sc_recent_news_style_news-announce .post_size_full { height: 656px; }
body.expand_content .sc_recent_news_style_news-announce .post_size_big { height: 328px;  }
body.expand_content .sc_recent_news_style_news-announce .post_size_medium,
body.expand_content .sc_recent_news_style_news-announce .post_size_small { height: 164px;  }
.sc_recent_news .post_counters .post_counters_edit a {
	background-color:transparent !important;
}
.sidebar .sc_recent_news .post_item .post_title,
.footer .sc_recent_news .post_item .post_title {
	font-size: 1em;
}
.sidebar .sc_recent_news .post_item .post_content,
.footer .sc_recent_news .post_item .post_content {
	font-size: 0.8667em;
	line-height:1.3846em;
}
.sc_recent_news .post_accented_off .post_featured.with_thumb .post_video_hover {
	font-size: 1.2em;
}
.sc_recent_news .post_accented_off .slider_controls_wrap {
	display:none;
}
.sc_recent_news .post_accented_off .slider_pagination_wrap {
	bottom: 0;
}
.sc_recent_news .post_accented_off .slider_pagination_wrap .swiper-pagination-bullet {
	width: 6px;
	height: 6px;
	margin-right:3px;
}

/* Recent posts & Most Popular posts & Search Results */
.widget_area .post_item,
.widget .post_item {
	overflow:hidden;
	text-align:left;
	margin-bottom: 0;
    margin-top: 1.6em;
	position:relative;
	background-color: transparent !important;
}
.widget .post_item + .post_item {
    margin-top: 1.8em;
	padding-top: 0;
	border-top: none;
}
.search_results.widget_area .post_item + .post_item {
	border-top:1px solid #e5e5e5;
	margin-top:1.6em;
	padding-top:1.6em;
}
.widget_area .post_item .post_content,
.widget .post_item .post_content {
	overflow:hidden;
}
.widget_area .post_item .post_thumb,
.widget .post_item .post_thumb {
	float:left;
    width: 4.667rem;
    height: 4.667rem;
    margin: 0.1em 0.9em 0 0;
    overflow:hidden;
}
.widget_area .post_item .post_thumb img,
.widget .post_item .post_thumb img {
	width:100%;
}
.widget_area .post_item .post_title,
.widget .post_item .post_title {
	font-weight: 400;
    font-size: 1.067rem;
	margin: -2px 0 4px 0;
	text-align:left;
	line-height: 1.25em;
}
.widget_area .post_item .post_info,
.widget .post_item .post_info {
    font-size: 12px;
    font-weight: 400;
	line-height:16px;
	margin-bottom:0;
    margin-top: 0.65em;
    letter-spacing: -0.2px;
}
.widget_area .post_item .post_info .post_info_item+.post_info_item:before,
.widget .post_item .post_info .post_info_item+.post_info_item:before {
	content: "";
	margin:0 0 0 5px;
}
.widget_area .post_item .post_categories,
.widget .post_item .post_categories {
	font-size:11px;
	font-weight:400;
	line-height:15px;
	text-transform:uppercase;
	margin-top:-2px;
	margin-bottom:1em;
	position:relative;
	padding-right:3em;
}
.widget_area .post_item .post_categories .post_info_counters,
.widget .post_item .post_categories .post_info_counters {
	position:absolute;
	right: 0;
	top: 0;
}
.widget .post_item .post_counters_item {
	margin-left: 0;
}
/* Twitter */
.widget_twitter .widget_content ul {
	padding-left: 2em;
	list-style-type:none;
}
.widget_twitter .widget_content ul > li {
	position:relative;
	text-align: left;
}
.widget_twitter .widget_content ul > li+li {
	margin-top: 1.5em;
}
.widget_twitter .widget_content ul > li:before {
	position:absolute;
	z-index:1;
	display:inline-block;
	font-size:1.2em;
	font-style:normal;
	left:-1.5em;
	top: 0;
	background-color:transparent !important;
}
.widget_twitter .widget_content .sc_twitter_item .sc_twitter_item_icon {
	text-align: center;
	font-size:1.6em;
	font-style:normal;
	margin-bottom: 0.8em;
}
.widget_twitter .widget_content .sc_twitter_item a,
.widget_twitter .widget_content ul > li a {
	font-weight:normal;
}


/* CV Card
---------------------------------------------- */
body.trx_addons_cv {
	margin-left: 0;
	margin-right: 0;
}
.trx_addons_cv_header_letter {
	line-height: 0.75em;
}
.trx_addons_cv_header_letter,
.trx_addons_cv_header_text,
.trx_addons_cv_header_socials .social_item > .social_icon {
	text-shadow:none;
}
.trx_addons_cv_section_contacts input,
.trx_addons_cv_section_contacts textarea {
	-webkit-border-radius: 0 !important;
	    -ms-border-radius: 0 !important;
			border-radius: 0 !important;
}



/* Hover effects
---------------------------------------------- */
.trx_addons_hover_mask {
	left:0; top: 0;
	right: 0; bottom: 0;
}
.trx_addons_hover_content .trx_addons_hover_links a + a {
	margin-left:0.7em;
}

.trx_addons_hover_style_zoomin .trx_addons_hover_content .trx_addons_hover_title {
	display:none;
}



/* Shortcodes
---------------------------------------------- */

.sc_item_subtitle {
    font-style: normal;
    letter-spacing: 1.3px;
    line-height: 1.5em;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    margin-top: 0 !important;
}
.sc_item_subtitle:not(.sc_align_center) {
    padding-left: 5.8rem;
}
.sc_item_subtitle:not(.sc_align_center):before {
    content: '';
    position: absolute;
    top: 0.6rem;
    left: 0;
    height: 1px;
    width: 3.9rem;
}
.sc_item_title {
	line-height:1.1em;
}
h2.sc_item_title.sc_item_title_style_default:not(.sc_item_title_tag) {
	font-size: 3.2rem;
}
.sc_item_subtitle + .sc_item_title {
	margin-top: 1.5rem;
}
h1.sc_item_title {
    line-height: 1.25;
}
.sc_item_subtitle + h1.sc_item_title {
    margin-top: 1.3rem;
}
.sc_item_descr {
	margin-bottom: 0;
}


/* Action */
.sc_action_item_default .sc_action_item_subtitle {
	font-size:2em;
	line-height:1.2em;
}
.sc_action_item_default .sc_action_item_subtitle + .sc_action_item_title {
	margin-top:0;
}

.sc_action_item_event.with_image .sc_action_item_inner {
	padding: 2.4em 2em; 
}
.sc_action_item_event .sc_action_item_image + .sc_action_item_subtitle {
	margin-top:0.8em;
}
.sc_action_item_event .sc_action_item_title {
	margin-top: 0;
	margin-bottom: 0.3em;
}
.sc_action_item_date {
	font-size: 1em;
	line-height: 1.3em;
	text-transform:uppercase;
	letter-spacing:1px;
	padding:0.8em 0;
	border-style:dotted;
}
.sc_action_item_description {
	font-style:italic;
	letter-spacing:0;
}
.sc_action_item_info {
	font-size: 13px;
	font-weight:400;
	line-height: 1.3em;
	padding: 1em 0 0;
	letter-spacing:0;
	border-style:dotted;
}


/* Anchor */
.menu_side_inner #toc_menu {
	display:block;
}
.menu_side_icons #toc_menu {
	position:relative;
	left:0;
	top:0;
	margin:0;
}
.menu_side_icons .toc_menu_item .toc_menu_description,
.menu_side_inner > .toc_menu_item .toc_menu_description {
	font-size:1.0667em;
	line-height:1.3em;
	font-weight:bold;
	text-transform:uppercase;
	top: 1px;
}
.menu_side_inner > .toc_menu_item .toc_menu_description {
	top: 0;
}
.menu_side_icons .toc_menu_item:hover .toc_menu_description,
.menu_side_inner > .toc_menu_item:hover .toc_menu_description {
	margin-right:0;
}
.menu_side_icons .toc_menu_item .toc_menu_description:before,
.menu_side_inner > .toc_menu_item .toc_menu_description:before {
	content: ' ';
	display:inline-block;
	vertical-align:middle;
	height: 6rem;
}
.menu_side_icons .toc_menu_item .toc_menu_description span,
.menu_side_inner > .toc_menu_item .toc_menu_description span {
	display:inline-block;
	vertical-align:middle;
	padding: 0 3em;
	letter-spacing:3px;
	margin-top: 5px;
}
.menu_side_icons .toc_menu_item .toc_menu_icon,
.menu_side_inner > .toc_menu_item .toc_menu_icon {
	width: 100%;
	height: 6rem;
	line-height: 6rem;
	border-top: 1px solid #ddd;
	-webkit-box-sizing: content-box;
	    -ms-box-sizing: content-box;
	        box-sizing: content-box;
}
.menu_side_inner > .toc_menu_item .toc_menu_icon {
	border-top: none;
}
.menu_side_icons .toc_menu_item .toc_menu_icon:before,
.menu_side_inner > .toc_menu_item .toc_menu_icon:before {
	font-size:2rem;
	font-weight:normal;
	line-height:inherit;
}

.menu_side_dots #toc_menu .toc_menu_item .toc_menu_icon {
	text-align:center;
}
.menu_side_dots #toc_menu .toc_menu_item .toc_menu_icon:before {
	content: ' ';
	width: 5px;
	height: 5px;
	line-height:inherit;
	-webkit-border-radius: 50%;
	    -ms-border-radius: 50%;
			border-radius: 50%;
}
.menu_side_dots #toc_menu .toc_menu_item_active .toc_menu_icon:before {
	width: 9px;
	height: 9px;
}

.menu_style_left .toc_menu_item .toc_menu_description {
	left: -20em;
	right: auto;
}
.menu_style_left .toc_menu_item:hover .toc_menu_description {
	left: 100%;
	right: auto;
}

/* Blogger */
.sc_blogger_item_featured .post_featured {
	margin-bottom: 0;
}
.sc_blogger .sc_blogger_item .sc_blogger_post_meta {
	font-size: 13px;
	font-style: italic;
	font-weight: 400;
	line-height: 1.5em;
}

.sc_blogger_default .sc_blogger_item {
	padding: 2.1429em;
}
.sc_blogger_default .sc_blogger_item .sc_blogger_item_content {
	left: 45%;
	width: 55%;
}
.sc_blogger_default .sc_blogger_item .sc_blogger_post_meta {
	margin-top:0.6em;
}
.sc_blogger_default .sc_blogger_item .sc_blogger_item_featured {
	margin-bottom:0;
}

.sc_blogger_classic .sc_blogger_item .sc_blogger_item_content {
    padding: 2.2em 0 0;
}
.sc_blogger_classic .sc_blogger_item .sc_blogger_post_meta {
	margin-top:0.4em;
}
.sc_blogger_classic .sc_blogger_item .sc_blogger_item_excerpt {
    margin-top: 1.15em;
}
.sc_blogger_classic .sc_blogger_item .sc_blogger_item_excerpt_text {
}
.sc_blogger_classic .sc_blogger_item .sc_blogger_item_excerpt_text p {
	margin:0;
}
.sc_blogger_classic .sc_blogger_item_button {
	margin-top:1.35em;
    text-align: right;
}
.sc_blogger_classic .sc_blogger_item .more-link {
	background-color: transparent;
}


/* Courses */
.sc_courses_default .sc_courses_item_info {
	padding: 2em;
}
.sc_courses_default .sc_courses_item_date {
	letter-spacing: 0;
	font-style: italic;
}
.sc_courses_default .sc_courses_item_price {
	font-size:2em;
	margin-top:0.8em;
	min-height:1.2em;
}
.sc_courses_default .trx_addons_hover_content {
	text-align:left;
	padding: 2em;
	left:0;
	top:0;
	-webkit-transform:none;
	    -ms-transform:none;
	        transform:none;
}
.sc_courses_default .sc_courses_item .trx_addons_hover_mask {
	background-color: #000;
}
.sc_courses_default .trx_addons_hover_content .trx_addons_hover_title {
	background-color: transparent;
	padding: 0;
	margin:0;
	text-transform:none;
	font-size: 1.6667em;
}
.sc_courses_default .trx_addons_hover_content .trx_addons_hover_text {
	padding:0;
	margin-top:2em;
	font-style:normal;
}
.sc_courses_default .trx_addons_hover_content .trx_addons_hover_links a {
	margin-top: 3em;
	font-size: 12px;
	font-weight:bold;
	text-transform:uppercase;
	letter-spacing:2px;
	padding:1.3em 1.9em;
}



/* Dishes */
.sc_dishes_default .sc_dishes_item_info {
	padding: 2.6em 3em;
	text-align:center;
}
.sc_dishes_default .sc_dishes_item_title {
	margin-top:0;
}
.sc_dishes_default .sc_dishes_item_subtitle {
	font-size: 0.8667em;
	line-height:1.5em;
	font-style:italic;
	letter-spacing:0;
	margin-top:0.1em;
}
.sc_dishes_default .sc_dishes_item_content {
	margin-top:1.6em;
	min-height:5.4em;
}
.sc_dishes_default .sc_dishes_item_button {
	margin:1.6em 0 0;
}

.sc_dishes_compact .sc_dishes_item_header {
	padding:2rem;
}
.sc_dishes_compact .sc_dishes_item_title {
	line-height:1.25em;
}
.sc_dishes_compact .sc_dishes_item_subtitle {
	font-size: 13px;
	line-height:16px;
}


/* Events */
.sc_events_item {
	height: 5.2632em;
}
.sc_events_item + .sc_events_item {
	margin-top: 1em;
}
.sc_events_button {
	text-align:center;
}
.sc_events_item_date {
	height: 5.2632em;
}
.sc_events_item_day {
	font-weight:200;
	margin-top:0.2em;
}
.sc_events_item_button {
	min-height:1.3em;
}
.sc_events_item_button:before,
.sc_events_item_button:after {
	position:absolute;
	left:0; top: 0;
	content:'\e93a';
	font-family:'fontello';
	font-size:0.9286em;
	-webkit-transition: all ease .3s;
	    -ms-transition: all ease .3s;
	        transition: all ease .3s;
}
.sc_events_item_button:after {
	left:-30px;
	opacity:0;
}
.sc_events_item:hover .sc_events_item_button:before {
	opacity:0;
	left: 30px;
}
.sc_events_item:hover .sc_events_item_button:after {
	opacity:1;
	left: 0;
}

.sc_events_detailed .sc_events_item_date,
.sc_events_detailed .sc_events_item_time,
.sc_events_detailed .sc_events_item_button {
	font-size:0.7368em;
	font-weight:700;
	line-height:1.3em;
	text-transform:uppercase;
}
.sc_events_detailed .sc_events_item_title {
	font-size:1.0526em;
	line-height:1.2em;
	font-weight:700;
	font-style:italic;
}
.sc_events_detailed .sc_events_item,
.sc_events_detailed .sc_events_item_date,
.sc_events_detailed .sc_events_item_button,
.sc_events_detailed .sc_events_item_title,
.sc_events_detailed .sc_events_item_time {
	-webkit-transition: all ease .3s;
	    -ms-transition: all ease .3s;
	        transition: all ease .3s;
}

/* Form */
.sc_form form input.filled.trx_addons_field_error,
.sc_form form input.filled.trx_addons_field_error:hover,
.sc_form form input.filled.trx_addons_field_error:focus {
	color: #ff0000 !important;
	-webkit-box-shadow: none;
	    -ms-box-shadow: none;
			box-shadow: none;	
}

.sc_form .sc_form_info_item .sc_form_info_icon:before { font-family: 'fontello'; }
.sc_form .sc_form_info_item_address .sc_form_info_icon:before { content: '\e8fd'; }
.sc_form .sc_form_info_item_email .sc_form_info_icon:before { content: '\e8fa'; }
.sc_form .sc_form_info_item_phone .sc_form_info_icon:before { content: '\e8f5'; }

.sc_form button:after {
	content:' ';
}
.sc_form_default .sc_form_field_button:before {
	content:' ';
	display:block;
	width:100%;
	height: 0;
	clear:both;
}
.sc_form_default .sc_form_field_button {
	text-align:right;
    margin-top: 1.35rem;
    margin-bottom: 0;
}
.sc_form_default .sc_form_field_button button {
    border-width: 2px !important;
    padding: 1.67em 3.33em;
    letter-spacing: 0.9px;
    font-size: 13px;
    line-height: 1.5em;
}
.sc_form_modern .sc_form_field_button {
	text-align:right;
}
.sc_form_detailed button {
	display: block;
}
.sc_form_details.trx_addons_columns_wrap > [class*="trx_addons_column-"] {
    padding-right: 0;
    width: 100%;
}
.sc_form_details.trx_addons_columns_wrap {
    margin-right: 0;
}
.sc_form_field_title {
	text-transform:none;
	font-size:1em;
	font-weight:normal;
	line-height:1.8em;
	margin-bottom:0.7em;
}
label.required .sc_form_field_title:after {
	content:'*';
	display:inline-block;
	vertical-align:text-top;
	margin:-0.5em 0 0 0.5em;
	font-size:80%;
	color:#da6f5b;
}

[class*="sc_input_hover_"] input[type="text"],
[class*="sc_input_hover_"] input[type="number"],
[class*="sc_input_hover_"] input[type="email"],
[class*="sc_input_hover_"] input[type="password"],
[class*="sc_input_hover_"] input[type="search"],
[class*="sc_input_hover_"] select,
[class*="sc_input_hover_"] textarea {
	font-size:1em !important;
	font-weight: 400;
	font-style:normal;
	line-height:1.2em;
	letter-spacing:1px;
	padding: 1.4em 1.4em !important;
}
[class*="sc_input_hover_"] .sc_form_field_hover {
	font-size: 1em;
}
[class*="sc_input_hover_"] .sc_form_field_content {
	font-size: 1em;
	line-height:1.2em
}
[class*="sc_input_hover_"] label.required:after {
	display: none;
}
[class*="sc_input_hover_"] label.required .sc_form_field_content:after {
	font-size:110%;
}

.sc_input_hover_accent .sc_form_field_hover:before {
  	height: 3em;
}
.sc_input_hover_accent textarea + .sc_form_field_hover:before {
  	height: 9em;
}


.sc_input_hover_path .sc_form_field_content {
	padding-top:2em;
}
.sc_input_hover_path textarea + .sc_form_field_hover > .sc_form_field_content {
	padding-top:2em;
}
.sc_input_hover_path input:focus + .sc_form_field_hover > .sc_form_field_content,
.sc_input_hover_path textarea:focus + .sc_form_field_hover > .sc_form_field_content,
.sc_input_hover_path input.filled + .sc_form_field_hover > .sc_form_field_content,
.sc_input_hover_path textarea.filled + .sc_form_field_hover > .sc_form_field_content {
	-webkit-transform: scale3d(0.875, 0.875, 1) translate3d(0, 2.8em, 0);
	    -ms-transform: scale3d(0.875, 0.875, 1) translate3d(0, 2.8em, 0);
	        transform: scale3d(0.875, 0.875, 1) translate3d(0, 2.8em, 0);
}
.sc_input_hover_path textarea:focus + .sc_form_field_hover > .sc_form_field_content,
.sc_input_hover_path textarea.filled + .sc_form_field_hover > .sc_form_field_content {
	-webkit-transform: scale3d(0.875, 0.875, 1) translate3d(0, 10em, 0);
	    -ms-transform: scale3d(0.875, 0.875, 1) translate3d(0, 10em, 0);
	        transform: scale3d(0.875, 0.875, 1) translate3d(0, 10em, 0);
}

.sc_input_hover_jump .sc_form_field_content:before {
	top: -190%;
}
.sc_input_hover_jump .sc_form_field_content {
	padding:1.5em;
}

.sc_input_hover_underline .sc_form_field_hover:before {
	height: 2px;
}
.sc_input_hover_underline input:focus + .sc_form_field_hover:before,
.sc_input_hover_underline textarea:focus + .sc_form_field_hover:before,
.sc_input_hover_underline input.filled + .sc_form_field_hover:before,
.sc_input_hover_underline textarea.filled + .sc_form_field_hover:before {
	-webkit-transform: scale3d(1, 1, 1);
	    -ms-transform: scale3d(1, 1, 1);
	        transform: scale3d(1, 1, 1);
}
.sc_input_hover_underline input:focus + .sc_form_field_hover > .sc_form_field_content,
.sc_input_hover_underline input.filled + .sc_form_field_hover > .sc_form_field_content {
	-webkit-transform: translate3d(0, 2.2em, 0) scale3d(0.875, 0.875, 1);
	    -ms-transform: translate3d(0, 2.2em, 0) scale3d(0.875, 0.875, 1);
	        transform: translate3d(0, 2.2em, 0) scale3d(0.875, 0.875, 1);
}
.sc_input_hover_underline textarea:focus + .sc_form_field_hover > .sc_form_field_content,
.sc_input_hover_underline textarea.filled + .sc_form_field_hover > .sc_form_field_content {
	height: 5.3em;
	-webkit-transform: translate3d(0, 6.2em, 0) scale3d(0.875, 0.875, 1);
	    -ms-transform: translate3d(0, 6.2em, 0) scale3d(0.875, 0.875, 1);
	        transform: translate3d(0, 6.2em, 0) scale3d(0.875, 0.875, 1);
}

.sc_input_hover_iconed .sc_form_field_hover {
    padding: 0.45em !important;
}

/* Googlemap */
.sc_googlemap_content .sc_form_default .sc_form_details {
	width:100%;
	float:none;
}
.sc_googlemap_content .sc_form_default .sc_form_details > div {
	width: 100%;
	padding-right:0;
}
.sc_googlemap_content .sc_form_default .sc_form_field_message {
	width: 100%;
	float:none;
	padding-left: 0;
}
.sc_googlemap_content .sc_form .sc_form_field input[type="text"],
.sc_googlemap_content .sc_form .sc_form_field textarea {
	padding:0.5em 1em;
}
.sc_googlemap_content .sc_form .sc_form_field textarea {
	min-height:3em;
}

.sc_googlemap_content_detailed p {
	margin-bottom:1em;
}



/* Icons */
.sc_icons .sc_icons_icon:before, .sc_icons .sc_icons_icon > span:before {
    font-size: 6em;
    line-height: 1.1em;
}
.sc_icon_type_svg svg {
	width: 6em;
	height: 6em;
}
.sc_icons .sc_icons_item_linked:hover .sc_icons_icon + .sc_icons_item_title, .sc_icons .sc_icons_item_linked:hover .sc_icons_image + .sc_icons_item_title, .sc_icons .sc_icons_item_linked:hover .sc_icons_icon + .sc_icons_item_description, .sc_icons .sc_icons_item_linked:hover .sc_icons_icon + .sc_icons_item_title + .sc_icons_item_description, .sc_icons .sc_icons_item_linked:hover .sc_icons_image + .sc_icons_item_description, .sc_icons .sc_icons_item_linked:hover .sc_icons_image + .sc_icons_item_title + .sc_icons_item_description {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
}
.sc_icons_size_small .sc_icons_icon::before, .sc_icons_size_small .sc_icons_icon > span::before {
    font-size: 25px;
    line-height: 1.1em;
}
.sc_icons_size_small .sc_icon_type_svg svg {
	width: 4em;
	height: 4em;
}
.sc_icons_size_large .sc_icons_icon::before, .sc_icons_size_large .sc_icons_icon > span::before {
    font-size: 8em;
    line-height: 1.1em;
}
.sc_icons_size_large .sc_icon_type_svg svg {
	width: 8em;
	height: 8em;
}
.sc_icons .sc_icons_icon,
.sc_icons .sc_icons_item_title {
	-webkit-transition: all ease .3s;
	    -ms-transition: all ease .3s;
	        transition: all ease .3s;
}
.sc_icons_item_title {
	line-height:1.3em;
	font-style: normal;
	text-transform:none;
	letter-spacing:-1px;
    font-size: 1.333rem;
    font-weight: 700;
}
.sc_icons .sc_icons_image + .sc_icons_item_title,
.sc_icons .sc_icons_image + .sc_icons_item_description {
	margin-top:2em;
}
.footer_wrap .sc_icons .sc_icons_icon + .sc_icons_item_title {
	margin-top:1em;
	margin-bottom:2em;
}
.sc_icons_item_description {
	font-size: 1em;
	line-height: 1.6em;
	font-weight:400;
	font-style:normal;
}
.sc_icons_modern .sc_icons_item_description {
	font-size: 1.2em;
	line-height: 1.3em;
}
.sc_icons .sc_icons_item_title + .sc_icons_item_description {
	margin-top:0.15em;
}
.sc_icons.sc_align_left .sc_icons_item {
    padding-left: 2.7rem;
    margin-bottom: 1.6rem;
    position: relative;
}
.sc_icons.sc_align_left .sc_icons_item .sc_icons_icon {
    position: absolute;
    top: 0;
    left: 0;
}
.sc_icons.sc_align_left .sc_icons_icon + .sc_icons_item_title {
    margin-top: 0;
}
.sc_icons .trx_addons_columns_wrap.columns_padding_bottom > .trx_addons_column-1_2:last-child(2),
.sc_icons .trx_addons_columns_wrap.columns_padding_bottom > .trx_addons_column-1_2:last-child {
    padding-bottom: 0;
}
.sc_icons .trx_addons_columns_wrap.columns_padding_bottom > .trx_addons_column-1_2:last-child(2) .sc_icons_item,
.sc_icons .trx_addons_columns_wrap.columns_padding_bottom > .trx_addons_column-1_2:last-child .sc_icons_item {
    margin-bottom: 0;
}
    /* Price */
.sc_price_info {
    padding: 4.6em 2.6em 2.8em;
	text-align:left;
    position: relative;
}
.sc_price_info:before {
    content: '';
    position: absolute;
    top: 5.1rem;
    left: -0.5rem;
    width: 16px;
    height: 16px;
    transform: rotate(45deg);
    background: #ffffff;
}
.sc_price_subtitle {
	font-size: 1em;
	line-height: 1.3em;
	font-weight: normal;
	text-transform:uppercase;
	letter-spacing: 1px;
	margin-bottom:0.5em;
}
.sc_price_title {
	line-height:1.25em;
	text-transform:none;
    letter-spacing: -1.3px;
    font-size: 2rem;
    font-weight: 400;
    max-width: 67%;
}
.sc_price_description {
    font-size: 0.8rem;
    font-weight: 700;
	line-height:1.25em;
    letter-spacing: -0.4px;
    margin: 0;
    font-style: normal;
}
.sc_price_price {
	line-height:1.25em;
	letter-spacing:0;
    font-size: 1.6rem;
    font-weight: 700;
}
.sc_price_decimals {
	text-decoration:none;
}
.sc_price_details {
    margin-top: 5.4rem;
	line-height:1.25em;
	letter-spacing:0;
    font-size: 1.067rem;
    font-weight: 400;
}
.sc_price_link:after {
	display:none;
}
.price-header {
    width: 95px;
    height: 90px;
    margin: auto;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content:center;
    align-items: center;
    position: absolute;
    right: 2.6rem;
    top: 3rem;
}
.sc_price ul.trx_addons_list_success li + li {
    border-top: 1px solid;
    padding-top: 1.23rem;
}
.sc_price ul.trx_addons_list_success li + li:before{
   top: 1.25rem;
}
.price-button {
    margin-top: 3.15rem;
    text-align: right;
}
/* Promo */
.sc_promo.sc_promo_size_tiny .sc_promo_image {
	margin: 0.5em;
}
.sc_promo_text blockquote {
	margin: 0 !important;
}
.sc_promo.sc_promo_size_normal .sc_promo_icon,
.sc_promo.sc_promo_size_large .sc_promo_icon {
	font-size: 7em;
	line-height: 1em;
	margin-bottom:0.14em;
}
.sc_promo_title + .sc_promo_content,
.sc_promo_subtitle + .sc_promo_content {
	margin-top: 1.8em;
}
.sc_promo_title + .sc_promo_subtitle {
	margin-top: 1.25em;
}
.sc_promo_button .sc_button_simple:before,
.sc_promo_button .sc_button_simple:after {
	top:4px;
}

.sc_promo.sc_promo_size_normal .sc_promo_text_inner {
	padding:3em;
}
.sc_promo.sc_promo_size_normal .sc_item_title + .sc_item_descr,
.sc_promo.sc_promo_size_normal .sc_item_subtitle + .sc_item_descr,
.sc_promo.sc_promo_size_normal .sc_item_title + .sc_item_slider,
.sc_promo.sc_promo_size_normal .sc_item_subtitle + .sc_item_slider,
.sc_promo.sc_promo_size_normal .sc_item_descr + .sc_item_slider,
.sc_promo.sc_promo_size_normal .sc_item_title + .sc_item_columns,
.sc_promo.sc_promo_size_normal .sc_item_subtitle + .sc_item_columns,
.sc_promo.sc_promo_size_normal .sc_item_descr + .sc_item_columns,
.sc_promo.sc_promo_size_normal .sc_item_title + .sc_item_content,
.sc_promo.sc_promo_size_normal .sc_item_subtitle + .sc_item_content,
.sc_promo.sc_promo_size_normal .sc_item_descr + .sc_item_content {
	margin-top: 1.8em;
}
.sc_promo.sc_promo_size_normal .sc_item_title + .sc_item_button,
.sc_promo.sc_promo_size_normal .sc_item_title + .sc_item_button_image,
.sc_promo.sc_promo_size_normal .sc_item_subtitle + .sc_item_button,
.sc_promo.sc_promo_size_normal .sc_item_subtitle + .sc_item_button_image,
.sc_promo.sc_promo_size_normal .sc_item_descr + .sc_item_button,
.sc_promo.sc_promo_size_normal .sc_item_descr + .sc_item_button_image,
.sc_promo.sc_promo_size_normal .sc_item_content + .sc_item_button,
.sc_promo.sc_promo_size_normal .sc_item_content + .sc_item_button_image,
.sc_promo.sc_promo_size_normal .sc_item_slider + .sc_item_button,
.sc_promo.sc_promo_size_normal .sc_item_slider + .sc_item_button_image,
.sc_promo.sc_promo_size_normal .sc_item_columns + .sc_item_button,
.sc_promo.sc_promo_size_normal .sc_item_columns + .sc_item_button_image {
	margin-top: 1.8em;
}

.sc_promo_modern .sc_promo_title {
	font-size:3.6667rem;
	line-height:1.1818em;
}
.sc_promo_modern .sc_promo_descr,
.sc_promo_modern .sc_promo_button {
	padding-left: 6.6rem;
}


/* Services */
.sc_services_default .trx_addons_hover_content .trx_addons_hover_title {
	font-size: 1.3333em;
}
.sc_services_default .sc_services_item_icon {
	margin-top: 0.8em;
}
.sc_services_default .sc_services_item_info {
	padding: 2.6em 3em;
	text-align:center;
}
.sc_services_default .sc_services_item_title {
	margin-top:0;
}
.sc_services_default .sc_services_item_subtitle {
	letter-spacing:0;
	margin-top:0.1em;
}
.sc_services_default .sc_services_item_content {
	margin-top:1.6em;
	min-height:5.4em;
}
.sc_services_default .sc_services_item_button {
	margin:1.6em 0 0;
}

.sc_services_iconed .sc_services_item_icon {
	font-size:2.8em;
	line-height:1em;
}
.sc_services_iconed .sc_services_item_header {
	padding:2rem;
}
.sc_services_iconed .sc_services_item_title {
	font-size:1em;
	line-height:1.5em;
}
.sc_services_iconed .sc_services_item_subtitle,
.sc_services_iconed .sc_services_item_button {
	display:none;
}


/* Skills */
.sc_skills_counter .sc_skills_item_wrap {
	max-width:none;
}
.sc_skills .sc_skills_item_title {
	font-size:12px;
	line-height:16px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing:1px;
}
.vc_row.vc_inner .sc_skills_counter .sc_skills_column + .sc_skills_column:before {
	content:' ';
	position:absolute;
	left:0;
	top: 0;
	height: 100%;
	width: 1px;
}
.vc_row.vc_inner .sc_skills_counter .sc_skills_item_wrap {
	padding:3.4em 0 0 4em;
}

.sc_skills_counter .sc_skills_item_wrap {
    position: relative;
    padding-left: 4.6rem;
}
.sc_skills_counter .sc_skills_icon {
	font-size:3.2em;
	line-height: 1.15em;
    position: absolute;
    top: 0;
    left: 0;
}
.sc_skills_counter .sc_skills_total {
	line-height: 1.1em;
	margin:0;
    text-align: left;
    font-size: 2.4rem;
    font-weight: 400;
}
.sc_skills_counter .sc_skills_icon+.sc_skills_total {
	margin-top:0.2em;
}
.sc_skills_counter .sc_skills_item_title {
	line-height:1.25em;
	font-style:normal;
    letter-spacing: 1.3px;
    text-align: left;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0.45rem;
}
.sc_skills_pie.sc_skills_compact_off .sc_skills_total {
	top: 50%;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}
.sc_skills_pie.sc_skills_compact_off .sc_skills_item_title {
	margin-top:0.2em;
	text-transform:none;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.3;
    padding: 0 1rem;
    text-align: center;
}
.sc_skills_pie.sc_skills_compact_off .sc_skills_icon {
    margin-right: 0;
}
.sc_skills_pie.sc_skills_compact_off .sc_skills_column .sc_skills_item_wrap {
    padding: 0 1.3rem;
}

/* Table */
.sc_table table th{
    padding: 1em 0.99em 0.8em;
}
.sc_table table td {
    padding: 2.1em 0 1.75em;
}

/* Testimonials */
.sc_testimonials_item_content {
	font-size: 1.1333em;
	line-height:1.8824em;
	font-weight:400;
	font-style:normal;
}
.sc_testimonials_item_content:before {
	display: none;
}
.sc_testimonials [class*="column"] .sc_testimonials_item_content {
    font-size: 1.133rem;
    font-style: italic;
    line-height: 1.867rem;
    letter-spacing: -0.4px;
    margin-right: 1rem;
    margin-right: 1.6rem;
}
.sc_testimonials_item_author {
	background-color: transparent;
	text-align:center;
	margin-top:0.6em;
	max-width:none;
}
.sc_testimonials_item_author_title {
	font-style: normal;
	letter-spacing:0;
	text-transform:none;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: -0.4px;
}
.sc_testimonials_item_author_title + .sc_testimonials_item_author_subtitle {
	margin-top:0.1em;
}
h1.sc_item_title_tag + .sc_item_slider {
    margin-top: 2.85em;
}

/* Team */
.sc_team_default .trx_addons_hover_content .trx_addons_hover_title {
	font-size: 1.3333em;
}
.sc_team_default .sc_team_item_info {
	padding: 2.55em 1em 0;
	text-align:center;
}
.sc_team_default .sc_team_item_title {
	margin-top:0;
    font-size: 1.333rem;
    font-weight: 700;
    letter-spacing: -0.7px;
}
.sc_team_default .sc_team_item_content {
    margin-top: 1em;
    margin-bottom: 1.65em;
}
.sc_team_default .sc_team_item_subtitle,
.sc_team_short .sc_team_item_subtitle,
.sc_team_featured .sc_team_item_subtitle {
	font-size: 13px;
	line-height:20px;
	font-style:italic;
	letter-spacing:0;
	margin-top:1px;
}
.sc_team_default .sc_team_item_socials .social_item {
	display:inline-block;
	margin: 0 10px 3px 0;
}
.sc_team_default .sc_team_item_socials .social_item .social_icon {
	display:block;
	width: 2.6em;
	height: 2.6em;
	line-height: 2.6em;
    border-radius: 50%;
}
.sc_team_default .sc_team_item_socials + .sc_team_item_button {
	display:none;
}
.sc_team_default .sc_team_item_button {
	margin:1.6em 0 0;
}


.team_member_page .team_member_brief_info_text {
	letter-spacing:0;
}
.team_member_page .team_member_socials .social_item {
	display:inline-block;
	margin: 0 3px 3px 0;
}
.team_member_page .team_member_socials .social_item .social_icon {
	display:block;
	width: 2.4em;
	height: 2.4em;
	line-height: 2.4em;
}
.sc_button_simple {
    line-height: 1.53;
    border: 0 !important;
}
.sc_layouts_title {
    padding: 1.8rem 0;
}
.breadcrumbs {
    font-size: 13px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.2px;
	margin-top: 1.6rem;
	margin-bottom: 1.6rem;
}
.sc_layouts_title_caption {
    margin: 0 auto 0;
    letter-spacing: -3px;
}
.breadcrumbs .breadcrumbs_delimiter:before {
    content: '|';
}
.breadcrumbs .breadcrumbs_delimiter {
    margin: 0 1.65em;
}
.search_style_fullscreen .search_field {
    height: auto;
}
.sc_layouts_row_type_compact .sc_layouts_logo img {
    max-height: 44px;
}
.sc_layouts_title_breadcrumbs {
	margin-top: 0;
}
.sc_layouts_menu_nav > li.current-menu-item > a, .sc_layouts_menu_nav > li.current-menu-parent > a, .sc_layouts_menu_nav > li.current-menu-ancestor > a {
    font-weight: 700;
}
.trx_addons_login_link .sc_layouts_item_icon {
    display: none;
}
.trx_addons_icon-search:before {
    content: '\e919';
    font-family: Fontello, sans-serif;
}
.trx_addons_icon-basket:before {
    content: '\e94b';
    font-family: Fontello, sans-serif;
}
.sc_layouts_row_type_compact .search_wrap .search_submit {
    font-size: 1.2rem;
    font-weight: 400;
    -webkit-transition: all ease .3s;
    -ms-transition: all ease .3s;
    transition: all ease .3s;
}
.sc_layouts_row_type_compact .sc_layouts_item_icon {
    font-size: 1.6rem;
    font-weight: 400;
}
.sc_layouts_row_type_compact .sc_layouts_cart_icon {
    margin-top: 0;
}
.sc_layouts_cart_items_short {
    font-size: 8px;
    width: 14px;
    height: 14px;
    line-height: 14px;
    font-weight: 700;
    text-transform: uppercase;
    right: -7px;
    top: 0;
}
.sc_layouts_row_type_compact .search_wrap .search_field {
    padding-left: 1.2rem;
}
.sc_layouts_column_align_right .sc_layouts_item {
    margin-left: 3.1em;
}
.sc_layouts_item_details {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.sc_layouts_row_type_compact a .sc_layouts_item_details_line1,
.sc_layouts_row_type_compact a .sc_layouts_item_details_line2 {
    -webkit-transition: all ease .3s;
    -ms-transition: all ease .3s;
    transition: all ease .3s;
}
.sc_layouts_row.sc_layouts_row_fixed_on .sc_layouts_logo img {
    max-height: 44px;
}
.sc_layouts_menu_nav > li.menu-item-has-children > a:after {
    display: none;
}
.sc_layouts_menu_nav > li > a,
.sc_layouts_menu_nav > li.menu-item-has-children > a {
    padding: 1em 1.72em;
}

.sc_layouts_menu_nav > li ul {
    width: 228px;
    text-align: center;
    padding: 1.95em 0;
}
.sc_layouts_menu_nav > li > ul {
    top: 4.8em;
    left: 50%;
    margin-left: -114px;
}
.sc_layouts_menu_nav > li > ul:before {
    content: '';
    position: absolute;
    top: -3px;
    left: 50%;
    width: 18px;
    height: 18px;
    transform: rotate(45deg) translatex(-50%);
}
.sc_layouts_menu_popup .sc_layouts_menu_nav,
.sc_layouts_menu_popup .sc_layouts_menu_nav > li > ul,
.sc_layouts_menu_nav > li > ul ul {
    left:228px;
    top:-1.95em;
}
.sc_layouts_menu_nav > li > ul ul.submenu_left {
    left:-228px;
}
.sc_layouts_menu_popup .sc_layouts_menu_nav > li > a, .sc_layouts_menu_nav > li li > a {
    padding: 1em 2em;
}
.body_wrap > .side_socials {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 8001;
    margin: 0 1rem 0 0;
    max-height: 100vh;
}

.body_wrap > .side_socials a {
    display: block;
    margin: 0;
    font-size: 13px;
}
.body_wrap > .side_link {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 8001;
    max-height: 100vh;
}
.body_wrap > .side_socials.top-pos,
.body_wrap > .side_link.top-pos {
    bottom: auto;
    height: 490px;
}
.body_wrap > .side_link > a {
    writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: bt-lr;
    text-orientation: sideways-right;
    transform: rotate(180deg);
    letter-spacing: 1px;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 0 0.8rem;
}
.body_wrap > .side_socials a + a {
    margin-top: 1rem;
}
.search_style_fullscreen.search_opened .search_field {
    padding-left: 3rem;
}


.sc_countdown_default .sc_countdown_digits {
    width: 2em;
    height: auto;
    margin-bottom: 0;
    line-height: 1;
    font-size: 3.2rem;
    font-weight: 700;
}
.sc_countdown_default .sc_countdown_digits span {
    width: auto;
    margin: 0;
}
.sc_countdown_default .sc_countdown_digits span+span {
    margin: 0;
}
.sc_countdown_default .sc_countdown_separator {
    opacity: 0;
}
.sc_countdown .sc_countdown_label {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
    display: block;
}
.slider_swiper.slider_pagination_pos_bottom .swiper-pagination-bullets,
.slider_swiper_outer.slider_outer_pagination_pos_bottom .swiper-pagination-bullets,
.slider_swiper_outer.slider_outer_pagination_pos_bottom_outside .swiper-pagination-bullets {
    bottom: 2em;
}
.sc_item_title i {
    display: block;
    font-style: normal;
}
.search_wrap .search_submit {
    border: 0;
}
.sc_form_field {
    margin-bottom: 0.6em;
}
.sc_services_masonry .sc_services_item{
    text-align: center;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.sc_services_masonry .small_services {
    max-width: 33.33%;
}
.sc_services_masonry .big_services .sc_services_item{
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
}
.sc_services_masonry .big_services .sc_services_item > * {
    -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;         /* OLD - Firefox 19- */
    -webkit-flex: 1;          /* Chrome */
    -ms-flex: 1;              /* IE 10 */
    flex: 1;
}
.sc_services_masonry .big_services .sc_services_item .post_featured {
    -webkit-box-flex: 1.72;
    -webkit-flex-grow: 1.72;
    -ms-flex-positive: 1.72;
    flex-grow: 1.72;
}
.sc_services_masonry .sc_services_item .post_featured img {
    max-width: 100%;
}
.sc_services_masonry .serv_row_0.big_services:not(:nth-child(6)) .sc_services_item .post_featured {
    -webkit-box-ordinal-group: 2;   /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-ordinal-group: 2;      /* OLD - Firefox 19- */
    -ms-flex-order: 2;              /* TWEENER - IE 10 */
    -webkit-order: 2;               /* NEW - Chrome */
    order: 2;                       /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
h2.sc_item_title_tag + .sc_item_columns {
    margin-top: 5.75em;
}
h2.sc_item_title_tag + .sc_item_descr {
    margin-top: 5.75em;
}
.sc_services_masonry .sc_services_item .post_featured {
    margin: 0;
}
.sc_services_masonry .small_services .sc_services_item_info {
    padding: 2.42rem 3rem;
    position: relative;
}
.sc_services_masonry .small_services .sc_services_item_info:before {
    content: '';
    position: absolute;
    top: -3px;
    left: 50%;
    width: 20px;
    height: 20px;
    transform: rotate(45deg) translatex(-50%);
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 1000;
}
.sc_services_masonry .big_services .sc_services_item_info:before {
    content: '';
    position: absolute;
    right: -3px;
    top: 50%;
    width: 20px;
    height: 20px;
    transform: rotate(45deg) translatey(-50%);
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 1000;
}

.sc_services_masonry .serv_row_0.big_services:nth-child(6) .sc_services_item_info:before,
.sc_services_masonry .serv_row_1.big_services .sc_services_item_info:before {
    right: auto;
    left: -17px;
}
.sc_services_masonry .big_services .sc_services_item_info {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: center;
}
.sc_services_masonry .big_services .sc_services_item_inner {
    padding: 0 2rem;
}
.sc_services_item_info {
    position: relative;
}
.sc_services_masonry .sc_services_item_title {
    margin-top: 0 !important;
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 0.7rem;
}
.sc_services_masonry p {
    margin-bottom: 0;
}
.sc_services_masonry .big_services .sc_item_button {
    position: absolute;
    bottom: 2.8rem;
    left: 50%;
    transform: translatex(-50%);
}
.sc_services_masonry .sc_item_button {
    margin-top: 1.2rem;
}
.sc_item_subtitle + .sc_item_title + .sc_item_columns + .sc_layouts_item .sc_item_button,
.sc_item_subtitle + .sc_item_title + .sc_item_columns + .sc_item_button {
    position: absolute;
    top: 3.85rem;
    right: 0rem;
    margin: 0;
}
.woocommerce.columns-4 ul.products li.product .post_featured {
    padding: 0;
}
.woocommerce.columns-4 ul.products li.product .post_data{
    padding: 1.8em 0 2.5em;
}
.vc_row-no-padding .woocommerce.columns-4 .icons .shop_cart{
    /*display: none;*/
}
.vc_row-no-padding .woocommerce.columns-4 ul.products li.product .post_featured {
    padding: 0 2.2rem;
}
.vc_row-no-padding .woocommerce.columns-4 ul.products li.product .post_data {
    padding: 1.5em 0;
}
body table.booked-calendar th .monthName a {
    top: -2px;
    color: rgba(255,255,255,0.7);
}
body #booked-profile-page input[type=submit], body #booked-profile-page button, body .booked-list-view input[type=submit], body .booked-list-view button, body table.booked-calendar input[type=submit], body table.booked-calendar button, body .booked-modal input[type=submit], body .booked-modal button {
    border-width: 2px !important;
}
body .booked-calendar-wrap .booked-appt-list .timeslot .timeslot-people button {
    border-width: 2px !important;
    border-style: solid;
    padding: 0.6em 1.9em;
}
body .booked-calendar-wrap .booked-appt-list h2 {
    letter-spacing: 0;
}
.sc_testimonials_title, .sc_testimonials_subtitle, .sc_testimonials_descr, .sc_testimonials_button {
     text-align: left;
}
.sc_testimonials_item:before {
    content: '';
    position: absolute;
    top: 0.3rem;
    left: 0;
    width: 1px;
    bottom: 4.4rem;
}
.sc_testimonials_item {
    padding-left: 1.5rem;
    margin-right: 2rem;
}
.sc_testimonials [class*="column"] .sc_testimonials_item_author {
    text-align: right;
    margin-right: 1.4rem;
    margin-top: 0;
    padding-top: 1.05rem;
}
.slider_outer_pagination_pos_right {
}
.sc_testimonials .slider_swiper.slider_pagination_pos_left .swiper-pagination-bullets,
.sc_testimonials .slider_swiper.slider_pagination_pos_right .swiper-pagination-bullets {
    top: 26%;
}
.slider_swiper.slider_pagination_pos_right .swiper-pagination-bullets {
    right: 0;
    left: auto;
}
.sc_testimonials_item_author_title:before {
    content: '-';
    margin-right: 0.4rem;
}
.sc_googlemap_content_default {
    position: absolute;
    z-index: 1;
    right: auto;
    left: 18.2%;
    top: 11.1%;
    bottom: 12%;
    width: 26%;
    padding: 5em 4.8em;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.sc_googlemap_content_default .sc_icons.sc_align_left .sc_icons_item {
    padding-left: 2.7rem;
    margin-bottom: 3.5rem;
    position: relative;
}
.sc_blogger_classic .sc_blogger_item {
    text-align: left;
}
.sc_blogger .sc_blogger_item .sc_blogger_item_title {
    font-size: 2rem;
    font-weight: 400;
    margin-top: 2px;
    letter-spacing: -1.5px;
}
.sc_services {
    position: relative;
}
h1.sc_item_title_tag + .sc_item_descr{
    margin-top: 1.2em;
}
.team_member_page .team_member_brief_info_title {
    margin: 0 0 1rem;
}
.team_member_page .team_member_brief_info_text {
    font-style: normal;
}
.scheme_dark h1.sc_item_title_tag +  .sc_item_descr {
    max-width: 70%;
}
.sc_layouts_logo .logo_slogan{
	font-size: 0.867rem;
	font-weight: 700;
	line-height: 1.2;
	text-transform: uppercase;
	margin-bottom: 0.9rem;
}