/* Tooltips */
.trx_addons_tooltip {
	border-bottom-style: solid;
}
.trx_addons_tooltip:before {
	font-size:1em;
	line-height:1.3em;
	padding: 0.6em 1em;
	-webkit-transform:translateX(-50%);
	    -ms-transform:translateX(-50%);
	        transform:translateX(-50%);
	-webkit-border-radius: 0 !important;
	    -ms-border-radius: 0 !important;
			border-radius: 0 !important;
}
.trx_addons_tooltip:after {
	margin-bottom:-8px;
	-webkit-transform:none;
	    -ms-transform:none;
	        transform:none;
}

.trx_addons_accent_bg {
    padding: 0.14em 0.3em;
    margin: -2px 0 !important;
}
/* Dropcaps */
.trx_addons_dropcap {
    font-size: 2.4rem;
    font-weight: 400;
    text-transform: uppercase;
	padding: 0;
    margin: 0.13em 0.55em 0 0;
    width: 1.93em;
    height: 1.93em;
	line-height: 2em; 

}
.trx_addons_dropcap_style_2{
    width: auto;
    height: auto;
    line-height: 1.2em;
    margin: 0.03em 0.95em 6em 0.1em;
}

/* Tiny text */
.trx_addons_tiny_text {
	letter-spacing:1px;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

/* Lists */
.trx_addons_list_parameters > li > strong,
.trx_addons_list_parameters > li > em {
	color:inherit;
}
.trx_addons_list_parameters > li > em {
	font-family:inherit;
}
ul[class*="trx_addons_list_custom"] > li:before {
    content: '\e911';
    font-family: fontello;
    font-size: 0.429rem;
    font-weight: 400;
    left: -2em;
}
ol {
    list-style: none;
    counter-reset: num;
}
ol>li {
    position: relative;
    margin-bottom: 0.47rem;
}
ol>li::before {
    content: counter(num) '. ';
    counter-increment: num;
    position: absolute;
    left: -1em;
    font-size: 1rem;
    font-weight: 500;
}

ul[class*="trx_addons_list_dot"] > li:before{
    font-size: 1.5em;
    font-weight: 400;
    left: -0.77em;
    top: 1px;
}
ul[class*="trx_addons_list_custom"] {
    list-style-type: none;
    padding-left: 1.1em;
}
ul>li {
    margin-bottom: 0.47rem;
}
ul[class*="trx_addons_list_custom"] > li:before{
    font-size: 0.96rem;
    left: -1.6em;
    top: 2px;
}
ul.trx_addons_list_success {
    padding-left: 0;
}
ul.trx_addons_list_success li{
    padding-left: 1.8em;
    letter-spacing: -0.7px;
    margin-bottom: 1.15rem;
}
ul[class*="trx_addons_list_success"] > li:before {
    content: '\e91f';
    font-family: Fontello, sans-serif;
    left: 1px;
    top: 0;
    font-size: 14px;
}
