/* Common styles
----------------------------------------------------------------- */

.icon-rent:before {
	content: '\e950';
	padding-right: .2em;
}

.woocommerce ul.products li.product .post_data .your-dress-rent-button {
	display: none;
}

.post_featured.hover_shop_buttons .icons a:before {
	display: none;
}
.vc_col-sm-5 .woocommerce.columns-4 ul.products li.product .post_featured .icons a:before {
	display: inline-block;
}

.products .wcspt-has-gallery a:first-of-type:hover .wcspt-transition,
.wcspt-img-link:hover .wcspt-transition {
	max-height: 100%;
	width: auto;
	margin: auto;
}