/* Visual Composer styles
----------------------------------------------------------------- */
.vc_row.vc_parallax[class*="scheme_"] .vc_parallax-inner:before {
	content: ' ';
	position:absolute;
	z-index:1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.vc_row .wpb_column:not(.vc_col-sm-12) blockquote {
	margin: 0;
}

/* Row and Columns */
.vc_col-sm-12 {
	min-height:0;
}
.vc_row[data-vc-full-width]:not(.vc_parallax) {
	overflow: visible;
}
.vc_row.vc_row-o-full-height {
    min-height: 100vh !important;
}
.vc_row.vc_parallax[class*="scheme_"] .vc_parallax-inner:before {
	content: ' ';
	position:absolute;
	z-index:1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.vc_row .wpb_column:not(.vc_col-sm-12) blockquote {
	margin: 0;
}
.vc_col-has-fill > .vc_column-inner,
.vc_row-has-fill + .vc_row-full-width + .vc_row > .vc_column_container > .vc_column-inner,
.vc_row-has-fill + .vc_row > .vc_column_container > .vc_column-inner,
.vc_row-has-fill + .vc_vc_row > .vc_row > .vc_vc_column > .vc_column_container > .vc_column-inner,
.vc_row-has-fill + .vc_vc_row_inner > .vc_row > .vc_vc_column_inner > .vc_column_container > .vc_column-inner,
.vc_row-has-fill > .vc_column_container > .vc_column-inner,
.vc_row-has-fill > .vc_row > .vc_vc_column > .vc_column_container > .vc_column-inner,
.vc_row-has-fill > .vc_vc_column_inner > .vc_column_container > .vc_column-inner {
	padding-top: 0 !important;
}


/* Panels */
.wpb-js-composer .vc_tta.vc_general .vc_tta-panels .vc_tta-panel-body {
	padding:1.9em 0 0;
}
 body.wpb-js-composer  .vc_tta-container{
    margin-bottom:0;
}
.wpb-js-composer .vc_tta.vc_general .vc_tta-panels .vc_tta-panel-body p {
	margin-bottom: 0;
}
.wpb-js-composer .vc_tta.vc_general .vc_tta-panels .vc_tta-panel-body p + p {
	margin-top: 1em;
}
.wpb-js-composer .vc_tta.vc_tta-tabs .vc_tta-panels .vc_tta-panel-body p{
    margin-top: 1.6em;
}
/* Accordion */
.wpb-js-composer .vc_tta.vc_tta-accordion .vc_tta-panel-body,
.wpb-js-composer .vc_tta.vc_tta-accordion .vc_tta-panel-heading {
	border: none !important;
	background: transparent !important;
}
.wpb-js-composer .vc_tta.vc_tta-style-classic .vc_tta-panel.vc_active .vc_tta-panel-heading, .vc_tta.vc_tta-style-classic .vc_tta-panel:not(:last-child) .vc_tta-panel-heading, .vc_tta.vc_tta-style-modern .vc_tta-panel.vc_active .vc_tta-panel-heading, .vc_tta.vc_tta-style-modern .vc_tta-panel:not(:last-child) .vc_tta-panel-heading {
	margin-bottom: 1.6em;
}
.wpb-js-composer .vc_tta.vc_tta-style-classic .vc_tta-panel.vc_active + .vc_tta-panel .vc_tta-panel-heading, .vc_tta.vc_tta-style-classic .vc_tta-panel:not(:first-child) .vc_tta-panel-heading {
	margin-top:1.6em;
}
.wpb-js-composer .vc_tta.vc_tta-accordion .vc_tta-panel-title {
	font-size: 1em;
	line-height: 1.3em;
}
.wpb-js-composer .vc_tta.vc_tta-accordion.vc_tta .vc_tta-panels .vc_tta-panel-body {
    padding: 0 6.5em 3em 3.4em;
 }
.wpb-js-composer .vc_tta.vc_tta-accordion .vc_tta-panel-title .vc_tta-title-text {
	line-height: 1.3em;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: -1px;
}
.wpb-js-composer .vc_tta.vc_tta-accordion .vc_tta-panel-heading .vc_tta-controls-icon-position-left.vc_tta-panel-title > a {
	padding-left: 4.2em;
}

.wpb-js-composer .vc_tta.vc_tta-accordion .vc_tta-panel.vc_active .vc_tta-panel-heading .vc_tta-controls-icon-position-right.vc_tta-panel-title > a {
    padding: 2.44em 3.4em 0.8em 3.4em;
}
.wpb-js-composer .vc_tta.vc_tta-accordion .vc_tta-panel-heading .vc_tta-controls-icon-position-left.vc_tta-panel-title > a > .vc_tta-controls-icon {
	left:0;
}
.wpb-js-composer .vc_tta.vc_tta-accordion .vc_tta-panel-heading .vc_tta-controls-icon-position-right.vc_tta-panel-title > a > .vc_tta-controls-icon {
    right: 2.6em;
    top: 4.55em;
}
.wpb-js-composer .vc_tta.vc_tta-accordion .vc_tta-panel-heading .vc_tta-controls-icon-position-right.vc_tta-panel-title > a{
    padding: 2.44em 3.4em 2.6em 3.4em;
}
.wpb-js-composer .vc_tta.vc_tta-accordion .vc_tta-panel+.vc_tta-panel{
    border-top: 1px solid;
}
body.wpb-js-composer  .vc_tta .vc_tta-controls-icon.vc_tta-controls-icon-chevron::before {
    content: "\e90f";
    font-family: Fontello;
    border: 0;
    font-weight: 400;
    font-style: normal;
    transform: none;
    font-size: 1rem;
}
.wpb-js-composer .vc_tta.vc_general .vc_tta-panel {
    -webkit-transition: all ease .3s;
    -ms-transition: all ease .3s;
    transition: all ease .3s;
}
body.wpb-js-composer  .vc_tta .vc_active .vc_tta-controls-icon.vc_tta-controls-icon-chevron::before {
   transform: none;
    -ms-transform: none;
    transform: none;
    font-family: Fontello,sans-serif;
    content: "\e912";
}
.wpb-js-composer .vc_tta.vc_tta-accordion .vc_tta-panel+.vc_active,
.wpb-js-composer .vc_tta.vc_tta-accordion .vc_tta-panel.vc_active +.vc_tta-panel{
    border-top: 0;
}
.wpb-js-composer .vc_tta.vc_tta-accordion .vc_tta-panel-heading .vc_tta-controls-icon {
	height: 2.6667em;
	-webkit-transition: all ease .3s;
	    -ms-transition: all ease .3s;
	        transition: all ease .3s;
}
.wpb-js-composer .vc_tta.vc_tta-accordion.vc_tta-shape-rounded .vc_tta-panel-heading .vc_tta-controls-icon {
	border-radius: 5px;
}
.wpb-js-composer .vc_tta.vc_tta-accordion.vc_tta-shape-round .vc_tta-panel-heading .vc_tta-controls-icon {
	border-radius: 50%;
}
.wpb-js-composer .vc_tta.vc_tta-accordion .vc_tta-controls-icon-position-left .vc_tta-controls-icon {
	left: 0;
}
.wpb-js-composer .vc_tta.vc_tta-accordion .vc_tta-controls-icon-position-right .vc_tta-controls-icon {
	right: 0;
}
.wpb-js-composer .vc_tta.vc_tta-accordion .vc_tta-controls-icon.vc_tta-controls-icon-minus:before,
.wpb-js-composer .vc_tta.vc_tta-accordion .vc_tta-controls-icon.vc_tta-controls-icon-plus:before {
	left:50%;
	right: auto;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	width: 9px;
	border-width: 1px 0 0 0;
}
.vc_tta.vc_tta-accordion .vc_tta-controls-icon.vc_tta-controls-icon-plus:after {
	top:50%;
	bottom: auto;
	border-width: 0 0 0 1px;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	height: 9px;
}
.wpb-js-composer .vc_tta.vc_tta-accordion .vc_tta-panel:not(.vc_active) + .vc_tta-panel {
}

/* Tabs */
.wpb-js-composer .vc_tta.vc_tta-color-grey.vc_tta-style-classic .vc_tta-tab > a {
	background-color:transparent;
	border: none;
    border-radius: inherit;
    padding: 1.2em 3.3em 1.1em;
    font-size: 0.867rem;
    font-weight: 700;
    letter-spacing: 0.8px;
    text-transform: uppercase;
}
.wpb-js-composer .vc_tta.vc_tta-color-grey.vc_tta-style-classic .vc_tta-tab + .vc_tta-tab {
    margin-left: -0.3em;
}
.wpb-js-composer .vc_tta-tab:not(.vc_active) +.vc_tta-tab{
    position: relative;
}
.wpb-js-composer .vc_tta-tab:not(.vc_active) +.vc_tta-tab:before {
    content: "";
    width: 1px;
    height: 1.6em;
    position: absolute;
    z-index: 1;
    top: 0.88em;
    left: -1.5px;
    opacity: 1;
}
.wpb-js-composer .vc_tta-tab +.vc_tta-tab.vc_active:before,
.wpb-js-composer .vc_tta-tab +.vc_tta-tab:hover:before, .wpb-js-composer .vc_tta-tab:hover +.vc_tta-tab:before {
    opacity: 0;
}

/* Separator */
.vc_separator {
    margin-top: 5.95em;
    margin-bottom: 5.5em !important;
}
/* Progress bar */
.vc_progress_bar.vc_progress_bar_narrow .vc_single_bar {
	box-shadow:none;
	border-radius:0;
	height: 7.4px;
    margin-top: 3.8em;
    margin-right: 3.2em;
}
.vc_progress_bar.vc_progress-bar-color-white  .vc_single_bar{
    margin-right: 0;
}
.vc_progress_bar.vc_progress_bar_narrow .vc_single_bar .vc_bar {
	height: 7.4px;
	border-radius:0;
}
.vc_progress_bar.vc_progress_bar_narrow .vc_single_bar + .vc_single_bar {
    margin-top: 4.67em;
}
.vc_progress_bar.vc_progress_bar_narrow .vc_single_bar .vc_label {
	position:absolute;
    font-size: 0.867rem;
    font-weight: 700;
    text-transform: uppercase;
	font-style:normal;
    top: -2.35em;
    letter-spacing: 1.5px;
	padding:0;
	line-height:1.5em;
	text-shadow:none;
	display:block;
	width:100%;
}
.vc_progress_bar.vc_progress_bar_narrow .vc_single_bar .vc_label .vc_label_units {
	position:absolute;
	z-index:1;
    right: -4em;
    top: 1.77em;
}
.wpb_wrapper.vc_progress_bar.vc_progress-bar-color-white .vc_single_bar .vc_label .vc_label_units {
    top: 0;
    right: -0.1em;
}
.vc_progress_bar.vc_progress-bar-color-white .vc_single_bar .vc_label {
    top: -2.44em;
    letter-spacing: 1.3px;
}
.vc_progress_bar.vc_progress-bar-color-white .vc_single_bar .vc_label .vc_label_units {
    right: -0.2em;
    top: -0.03em;
}
.vc_progress_bar.vc_progress-bar-color-white .vc_single_bar,
.vc_progress_bar.vc_progress-bar-color-white .vc_single_bar .vc_bar{
    height: 9.6px;
}
.vc_progress_bar.vc_progress-bar-color-white .vc_single_bar + .vc_single_bar {
    margin-top: 4.5em;
}

/* Message Box */
.vc_message_box {
    padding: 2.1em 0.875em 2.1em 3.9em;
    border-radius: 0;
    font-size: 1.6rem;
    font-weight: 700;
    border: 0;
}
.vc_message_box-solid-icon {
	padding-left: 7em;
}
.vc_message_box-icon {
	width: 3.9em;
    font-size: 0.9em;
}
.vc_message_box .vc_message_box-icon > * {
	font-size: 1.1em;
}
.vc_message_box-solid-icon .vc_message_box-icon {
	width: 5em;
	font-weight: 400;
	font-size: 1em;
}
.vc_message_box:not(.vc_message_box-solid-icon) .vc_message_box-icon > * {
	left:auto;
	right:0.6em;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
}
.vc_message_box-outline .vc_message_box-icon i  {												color: inherit; }
.vc_color-juicy_pink.vc_message_box-outline, .vc_color-juicy_pink.vc_message_box-solid-icon {	color: #f4524d; }
.vc_color-orange.vc_message_box-outline, .vc_color-orange.vc_message_box-solid-icon { 			color: #e39a31; }
.vc_color-vista_blue.vc_message_box-outline .vc_message_box-icon, .vc_color-vista_blue.vc_message_box-solid-icon .vc_message_box-icon i,
.vc_color-vista_blue.vc_message_box-outline, .vc_color-vista_blue.vc_message_box-solid-icon {	color: #9dbf00; }
.vc_color-vista_blue.vc_message_box-outline, .vc_color-vista_blue.vc_message_box-solid-icon {	border-color: #9dbf00; }
.vc_color-vista_blue.vc_message_box-solid-icon .vc_message_box-icon i {							background-color: #9dbf00; }

.vc_message_box_closeable {
	position:relative;
}
.vc_message_box:not(.vc_message_box-solid-icon) .vc_message_box-icon > .icon-cog {
}
.vc_message_box_closeable:after {
    width: 34px;
    height: 34px;
    line-height: 35px;
    border-radius: 50%;
    text-align: center;
	content: '\e8ac';
	font-family:'fontello';
	font-size: 20px;
	font-weight:400;
	padding:0;
	color: inherit;
	cursor:pointer;
	position:absolute;
	top: 50%;
    right: 2.3rem;
	-webkit-transform:translateY(-50%);
	    -ms-transform:translateY(-50%);
	        transform:translateY(-50%);
}

/* Text block after slider or video */
.wpb_text_column[class*="scheme_"] {
	padding: 2rem 2.4rem;
}
.wpb_text_column h1:first-child,
.wpb_text_column h2:first-child,
.wpb_text_column h3:first-child,
.wpb_text_column h4:first-child,
.wpb_text_column h5:first-child,
.wpb_text_column h6:first-child {
	margin-top:0;
}

/* Google maps */
.wpb_gmaps_widget .wpb_wrapper {
	padding:0;
}