/* Essential Grid styles
----------------------------------------------------------------- */
.esg-grid i[class*="eg-icon-"] {
    color: #fff;
}
.esg-grid a:hover i[class*="eg-icon-"] {
    color: #fff;
}

.flat-light .esg-filters .esg-sortbutton-order,
.flat-light .esg-filters .esg-cartbutton-order {
    line-height:36px;
    margin:0;
}
.flat-light .esg-filters .esg-sortbutton {
    padding-right: 0;
}
.esg-grid .mainul li.eg-washington-wrapper {
    background-color: #ffffff!important;
}
body .minimal-light .esg-filters {
    margin-bottom: 1em !important;
}

body .minimal-light .esg-filterbutton {
    background: transparent !important;
    text-transform: uppercase !important;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    border: none !important;
    padding: 0.6em 1.8em 0.3em !important;
    letter-spacing: 0.8px !important;
    font-size: 1.067rem !important;
    font-weight: 700 !important;
    line-height: 1rem;
    margin-bottom: 1rem;
}

body .minimal-light .esg-filterbutton:hover,
body .minimal-light .esg-filterbutton.selected {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

body .minimal-light .esg-pagination {
    margin-top: 3em !important;
}
body .minimal-light .esg-pagination-button {
    padding: 0 !important;
    display: inline-block !important;
    width: 2.56em !important;
    height: 2.56em !important;
    line-height: 2.6em !important;
    text-align: center !important;
    margin-right: 0.2em !important;
    font-size: 1.067rem !important;
    font-weight: 700 !important;
    text-transform: uppercase !important;
    border-radius: 0 !important;
}