/* MailChimp for WP styles
----------------------------------------------------------------- */
.mc4wp-form {
	position:relative;
    text-align: center;
}
.vc_row-has-fill .mc4wp-form {
    text-align: left;
}
.mc4wp-form .mc4wp-form-fields input[type="email"] {
	width: 390px;
	vertical-align:top;
    -webkit-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
}
body .wpcf7 input[type="email"],
body .vc_row-has-fill .mc4wp-form .mc4wp-form-fields input[type="email"] {
    width: 327px;
    background: #ffffff;
    border-color:  #ffffff;
}
.wpcf7 p {
    margin-bottom: 0;
}
.wpcf7 input[type="submit"],
.mc4wp-form .mc4wp-form-fields input[type="submit"] {
	z-index:1;
	vertical-align:top;
    padding: 1.73em 3.5em;
    margin-left: 0.4rem;
}
.wpcf7 input[type="submit"] {
    padding: 1.67em 3.5em;
}
.mc4wp-form .mc4wp-alert {
	margin: 2em 0;
	padding: 1em;
}
.wpcf7-form-control-wrap {
    display: inline-block;
}
span.wpcf7-not-valid-tip {
    margin-top: 1rem;
}
div.wpcf7-response-output {
    margin: 2em 0 0;
}
